[2016-12-27 11:24] OrkoHunter opened #1 "New Features and TODOs"
- [x] Do not comment when no suggestions are there on PR being opened.
 - [x] Do not comment repetitively.
 - [x] Add comment when no issues.
 - [x] Use keywords `quiet` and `resume` in mentions to shut off @pep8speaks for the Pull Request and then resume when it's required.
 - [x] List repositories using the bot
 - [x] Allow option to lint only the diff
 - [x] Do Not comment while `updating` the

[2017-01-03 15:28] sethmlarson commented on #1
How about changing the 'In the file `/blah/blah/blah`' message to have the file name be a link to the file in question? Would make navigating from the PR have a much better flow. :)

[2017-01-04 06:02] OrkoHunter commented on #1
@SethMichaelLarson That would be a useful change! :) Would you like to work on it?

[2017-01-06 15:37] rykener opened #7 "Can't configure column limit"
It would be nice if you could add column limit customizations in the `.pep8speaks.yml` file. I'd like to use this bot in a project but I only want to report on lines in excess of 120 columns.

I'd be happy to make a pull request for the feature.

[2017-01-06 15:41] OrkoHunter commented on #7
Hi @shonin,

The project reports (and fixes) the errors raised by [pycodestyle](https://github.com/PyCQA/pycodestyle). So, we can ignore the one error when the column length exceeds 79 chars. If I understood correctly, you want to raise the warning if the limit exceeds 120 columns.

In that case, I think the `.pep8speaks.yml` can have another `custom_errors` option. Please feel free to submit a PR

[2017-01-06 15:56] daneah commented on #7
`pycodestyle` makes available a `--max-line-length` option that could likely be pretty easily threaded through from the `.pep8speaks.yml` file! Would it make more sense to have a `line_length` or `column_limit` option in that case?

[2017-01-06 15:59] OrkoHunter commented on #7
@daneah @shonin Well I did not know about that. Awesome! I guess a `column_limit` option can be added. I'll add the feature very soon and inform you about it.

[2017-01-06 20:06] OrkoHunter commented on #7
After looking into so many arguments that are made available by pycodestyle, I thought it'd be good to create a separate anchor for it in the configuration file. Now options like `ignore`, `max-line-length` can be added under the new anchor `pycodestyle` in `.pep8speaks.yml` file.

Have a look on the updated [README](https://github.com/OrkoHunter/pep8speaks#configuration). And do let me know if th

[2017-01-06 20:17] OrkoHunter commented on #1
@SethMichaelLarson That has now been implemented. :)

[2017-01-06 21:24] sethmlarson commented on #1
@OrkoHunter This is great to hear! Thank you! :tada:

[2017-01-08 06:36] OrkoHunter commented on #7
@shonin If your problem is fixed, please close the issue. :)

[2017-01-08 07:04] rykener commented on #7
thanks @OrkoHunter, we really appreciate the quick update! I'll look through this in a more detailed manner on Monday, but it looks like it should work great!

[2017-01-09 14:10] rykener commented on #7
This works great @OrkoHunter, thanks for making the feature!

[2017-01-09 14:10] #7 closed, assigned to nobody

[2017-01-13 05:34] OrkoHunter opened #12 "Bug in repetition of comments"
Comments are being repeated after synchronizing a PR.

[2017-01-13 06:05] OrkoHunter commented on #12
And that is because the hyperlinks to the blob changes after new commits. These two [1](https://github.com/OrkoHunter/test-pep8speaks/pull/32#issuecomment-272368104) [2](https://github.com/OrkoHunter/test-pep8speaks/pull/32#issuecomment-272367984) comments are actually not same.

[2017-01-23 05:49] MrKiven opened #13 "Why not comment in commit status?"
https://developer.github.com/v3/repos/statuses/

[2017-01-24 19:39] OrkoHunter commented on #13
Hi @MrKiven,
Thank you for this. I agree for anything to make the bot less and less noisy! I have a question though, does the commit status enforce green/red tick on the PR or it's just a comment? I'm sorry I did not look it through.

[2017-01-24 20:00] daneah commented on #13
I was about to open an issue with this very suggestion! @OrkoHunter: The commit status would create a green/red tick on the PR, and the nice thing about that is that repository owners can choose to enforce this status check on all pull requests (unenforced by default).

The absolute cleanest way to do this would be to store the linting results on an external URL that can then be supplied in the st

[2017-01-29 15:07] #12 closed, assigned to nobody

[2017-01-29 16:02] OrkoHunter commented on #13
@daneah @MrKiven I tried to hack on the commit status feature. The only limitation to it is that there should be push access to the bot for making the status comment.

[2017-01-30 14:06] daneah commented on #13
@OrkoHunter oh, that could potentially be a blocker for some...didn't realize that was necessary.

[2017-02-07 20:25] jaywink commented on #1
Thanks for this! Any chance of being able to configure the bot to not comment at all if it doesn't find anything? I would like to get rid of the "Thanks for your PR, no issues in any files" etc comment - or am I missing an existing configuration value?

[2017-02-09 21:16] daneah opened #14 "Slowness on large codebase?"
I installed pep8speaks on a personal repository of mine and it worked very well 🎉

When installed on one of our largest repositories, however, pep8speaks seemed never to finish running `pycodestyle` and thus never provided any feedback.

I first posited that this might be because `pycodestyle` was running over the full codebase and only reporting on the changed files, but my reading of the code sa

[2017-02-10 03:46] OrkoHunter commented on #14
@daneah I think the "large repository" you are talking about is not public and hence @pep8speaks has no way to access it. I was thinking of making the service possible for private repositories too but then there were a lot of things to deal with and my semester break got over.

I'd still love to have a workaround listed on the repository and a "deploy to Heroku" button for people interested in run

[2017-02-10 04:37] OrkoHunter commented on #1
@jaywink Thanks for trying it out. I have added a [new commit](https://github.com/OrkoHunter/pep8speaks/commit/717a28bbd48264fe4bd3fc108ea3d8f0f289102b) enabling a new config option no_blank_comment which when set to True, stops the bot from making no-error comments.

Simply add
[code]
in the `.pep8speaks.yml` file.

Cheers !

[2017-02-10 13:50] daneah commented on #14
Thanks for the clarity—I didn't realize this integration would not work on private repositories! I assumed receiving the permissions would be enough for it to handle public or private equally. What are the the additional pieces needed for that to work?

We were considering forking this and running it ourselves anyway for better privacy guarantee, so maybe we can look further into that soon 😄

Than

[2017-02-10 14:47] OrkoHunter commented on #14
The integration simply works on payloads and no special permissions are granted while installing it. For it to work for private repositories, an OAuth app needs to be created.

An alternative is to use the access token of a user(@pep8speaks in this case) which has the permissions to the repo/orgs.

[2017-02-10 14:49] OrkoHunter commented on #14
I'm closing this now. You're welcome. :)

[2017-02-10 14:49] #14 closed, assigned to nobody

[2017-02-12 16:57] jaywink commented on #1
@OrkoHunter awesome, thanks a lot for the quick addition - appreciate it! :)

[2017-02-18 15:38] OrkoHunter commented on #1
Need help regarding access to private repositories : http://stackoverflow.com/q/42316916/4698026

[2017-02-18 19:32] OrkoHunter commented on #1
GitHub support replied. [We are all set for Private repositories](https://github.com/OrkoHunter/pep8speaks/wiki/Instructions-to-deploy-a-fork) now!

@daneah Hope you could make use of it now :D

[2017-02-20 09:39] glemaitre opened #16 "Continiously updating the last comment"
Right now, the bot is posting a new comment when the PEP8 status is changing.
It could be nice to have an even more silent mode, but always updating the initial comment.
It reduces the amount of noise in emails in large PR with a cleaner thread as well.
This is something that codecov is doing.

[2017-02-20 13:55] OrkoHunter commented on #16
This sounds perfect to me. Thank you for the suggestion ! I'll get to the implementation as soon as possible.

[2017-02-20 15:47] OrkoHunter commented on #13
I think #17 solves this issue partially :)

[2017-02-20 15:52] #16 closed, assigned to nobody

[2017-02-20 15:57] OrkoHunter commented on #16
A live example https://github.com/OrkoHunter/test-pep8speaks/pull/38

[2017-02-20 17:40] daneah commented on #13
@OrkoHunter that's great! I think the main impetus for commit statuses is that they can be enforced natively in GitHub to disallow merging if a status is failing, etc. #17 reduces the noise, however, which is great.

[2017-02-21 07:47] ashwch opened #20 "What is the Python version used in the codebase ?"
Apart from runtime.txt(Python 3.6.0) it is not mentioned anywhere which Python versions are we supposed to support. Can we make that clear somewhere?

[2017-02-21 10:43] OrkoHunter commented on #20
I'm not quite sure here. How does the Python version affect the pycodestyle's results (or PEP8 basically)?

[2017-02-22 08:04] ashwch commented on #20
Let's say we add any Python 3.6+ specific syntax to the codebase and someone wants to deploy the app to a platform(other than Heroku) that doesn't support 3.6 yet, then they won't be able to use it.

[2017-02-22 08:07] OrkoHunter commented on #20
Oh, That's a good point ! I am not entirely sure but the codebase is Python 2.7 & Python 3 compatible as of now. But I won't push for the backwards compatibility anymore and stick to just using Python 3.

[2017-02-23 04:57] autoferrit opened #21 "Add support for GitLab"
Is there any possibility you would add support for gitlab? Github is great but its not the only git hosting out there. Quite a lot of others use gitlab as well. And it could help user adoption as well if more people can use it. I find that when these libraries support gitlab, people tend to eat it up.

[2017-02-23 05:19] OrkoHunter commented on #21
The codebase is purely based on the GitHub API and I have not seen how does GitLab API works. So, by "supporting GitLab", we'd have to re-write it completely.

[2017-02-25 10:58] OrkoHunter opened #23 "Suggest diff is not working on private repository"
https://github.com/OrkoHunter/pep8speaks/blob/master/pep8speaks/helpers.py#L371
[code]

[2017-03-14 15:09] #13 closed, assigned to nobody

[2017-03-16 03:22] OrkoHunter opened #24 "Issues with pep8ify?"
Test and fix.

[2017-03-17 20:23] glemaitre opened #25 "Highlight only errors"
I am currently using pep8speaks for the `imbalanced-learn` project.
When dealing PR which lead to large changes (e.g. [here](https://github.com/scikit-learn-contrib/imbalanced-learn/pull/242)), it starts to be challenging to spot the errors among all messages.

It could be nice to have an option to actually print the file with errors since that usually, developers are not that much interested abou

[2017-03-17 20:39] OrkoHunter commented on #25
Hey Guillaume, I'm thankful to you for using PEP8Speaks.

I see the point and I too feel a need to have an alternative. My initial aim of mentioning `no errors in abc file` was for the reviewer to make sure that the file has indeed been checked. But as I perceive, another expected behavior from the bot would be

 - Mention only the files with issues.
 - After update, if there are no errors, simply

[2017-03-17 20:43] glemaitre commented on #25
Yep that's seems great

[2017-03-17 21:50] OrkoHunter commented on #25
@glemaitre Please let me know about your opinion on #26

[2017-03-17 21:59] glemaitre commented on #25
This seems good

[2017-03-17 22:02] #25 closed, assigned to nobody

[2017-03-19 21:07] ellieayla opened #28 "Remote code execution"
There is a remote code execution vector, via the `.pep8speaks.yaml` file in the source repository. The keys in the `pycodestyle` dictionary are not sanitized before being passed to `subprocess.Popen(shell=True)`.

[code]

This is demonstrated in pull #27 and https://requestb.in/1ap8agd1?inspect

While nothing terribly secret was posted above, the content of various bits of the environment are equa

[2017-03-24 20:02] jasiekmarc opened #29 "Comments link to non-existing repository"
We have a team (private) repository owned by the team's leader, and a bunch of Github users having access to it and proposing Pull Requests. In the comment, @pep8speaks links to the changed files and lines having errors. Unfortunately, the link (generated here: https://github.com/OrkoHunter/pep8speaks/blob/master/pep8speaks/helpers.py#L217) points to the PR authors' non-existing repositories rathe

[2017-03-24 20:15] OrkoHunter commented on #29
@jasiekmarc I believe the bot runs on the branch of the author of the PR. So, if the branch is on the fork of the user, it would like over there. I did not get the part when you say that the author's repository does not exist. How does he create a Pull Request then? Is it created from the same repository with a different branch?

[2017-03-24 20:17] jasiekmarc commented on #29
Exactly. We just create branches in the original repository, and them merge them to master.

[2017-03-24 20:20] OrkoHunter opened #30 "Commenting on PR without involving any py files"
https://github.com/cesium-ml/cesium_web/pull/174

[2017-03-24 21:04] OrkoHunter commented on #29
Okay thanks. I'll take a look in the github payload and modify which url to use. If you have the fix, it'd be great if you could submit a PR.

[2017-04-26 19:53] chinskiy opened #32 "Add response on ping X-GitHub-Event"
Greetings again
When I add webhook(according to https://github.com/OrkoHunter/pep8speaks/wiki/Instructions-to-deploy-a-fork#step-4--configure-webhooks) GitHub sent first request with `X-GitHub-Event: ping` in request header and app crashes
[code]
maybe it's more preferable to sent `Response(status=200)` ?
p.s. after this on pull request app works good.

[2017-04-26 20:13] OrkoHunter commented on #32
@chinskiy The app doesn't technically "crash" and so this is just in the logs. But sure, it can be improved. Feel free to go ahead. :)

[2017-04-26 20:20] chinskiy commented on #32
@OrkoHunter yes I understand that app still running and check PR but it confuses, I spent half of an hour thinking on whats wrong - why I got 500 in webhook response.
Okay, will make PR tomorrow.

[2017-04-26 20:34] chinskiy opened #33 "Problem with .pep8speaks.yml and private repositories"
Greetings again(3-rd time for today)
I have problem with .pep8speaks.yml and private repositories - seems like app don't see this file - any suggestions? in heroku logs nothing.
ps. With public works good.

[2017-04-27 02:29] OrkoHunter commented on #32
Oh! I am really sorry for the confusion.

[2017-04-27 02:32] OrkoHunter commented on #33
1. Make sure the indentations are properly working. Please send it to me, and I might verify.
2. Are you using the `BOT_USERNAME` and `BOT_PASSWORD` os vars? Tokens don't seem to work here.
3. `.pep8speaks.yml` file is taken from the branch of the PR (and not the repository). So, make sure your PR is rebased/updated with the file.

I can only help with these suggestions as of now.

[2017-04-27 03:10] ellieayla commented on #28
@OrkoHunter Please look into this.

[2017-04-27 04:04] OrkoHunter commented on #28
@alanjcastonguay I feel terrible overlooking this for so long. Apologies. Do you have any fix in mind? I'd be happy to implement it.

[2017-04-27 09:37] chinskiy commented on #33
@OrkoHunter thanks for suggestions
1. I use [this](https://github.com/OrkoHunter/pep8speaks#configuration) configuration example.
2. Yes, recheck them.
3. I consider it.
but I think problem is [here](https://github.com/OrkoHunter/pep8speaks/blob/master/pep8speaks/helpers.py#L120) because we use organisation and url to `.pep8speaks.yml` is `https://raw.githubusercontent.com/{organisation}/{reposito

[2017-04-27 14:09] OrkoHunter commented on #33
Doesn't [this](https://github.com/OrkoHunter/pep8speaks/blob/master/pep8speaks/helpers.py#L123) add the user credentials as `auth` ?

[2017-04-27 14:15] chinskiy commented on #32
@OrkoHunter pull #34 merged - I this issue could be closed.

[2017-04-27 14:15] #32 closed, assigned to nobody

[2017-04-27 14:30] chinskiy commented on #33
@OrkoHunter problem is not in user credentials - problem in url.
[Here](https://github.com/chinskiy/pep8speaks/commit/58ecbd6bb2dd1a3c859f528667e9463fac690824) my fix what works with my public and private repo.

I think here can be used repo.full_name from github webhook([url](https://github.com/OrkoHunter/pep8speaks/blob/master/pep8speaks/handlers.py#L92)). What you think?

I mean what the reason

[2017-04-27 14:33] OrkoHunter commented on #33
I think this happened because the user token I had generated initially (for working with public repositories) was with minimal permissions and hence I had to add the `auth` for working with private repositories. Of Course it can work with one only.

[2017-04-27 14:44] OrkoHunter opened #36 "Implement `@pep8speaks pep8ify` as a comment instead of review comment"
Earlier, comments on a PR used to fall in the category of GitHub Issues API for which PEP8Speaks integration was not configured (I had set it up only for Pull Request API). GitHub did not me allow to change payload permissions. Thanks to GitHub for acting on it and adding the option to update the permissions now and receive payloads for the comments.

`@pep8speaks pep8ify` and other mentions shoul

[2017-04-27 15:31] chinskiy opened #38 "Add to .yml file message configuration when there are no PEP8 issues"
I wanna to make possibility to change [this](https://github.com/OrkoHunter/pep8speaks/blob/master/pep8speaks/helpers.py#L278) message.
@OrkoHunter What you thin about that?

[2017-04-27 15:56] OrkoHunter commented on #38
Works for me. +1

[2017-04-27 17:48] ellieayla commented on #28
I think the only reasonable approach is to strictly parse the configuration file and pass through whitelisted stuff only. I am uncertain what the full set of things that should be whitelisted are, though.

[2017-04-27 18:05] chinskiy commented on #33
PR #37 merged.
Close issue.

[2017-04-27 18:05] #33 closed, assigned to nobody

[2017-04-27 18:22] chinskiy opened #40 "Сover code with tests"
Hi @OrkoHunter
I think it's reasonable to write some unit test and add them to CI because now it's like minefield.

[2017-04-27 18:27] OrkoHunter commented on #28
@alanjcastonguay Does it make sense to allow only the alphabets and `-` & `=` in the key? Will RCE be possible in that case either?

[2017-04-27 18:30] OrkoHunter commented on #40
True! I verify every patch with manually creating a test PR on [OrkoHunter/test-pep8speaks](https://github.com/orkohunter/test-pep8speaks) and sending the payload (copying it from the github developer settings) on the local server through a jupyter notebook to verify if everything worked properly.

This sure is a minefield. :D

[2017-04-27 18:37] chinskiy opened #41 "Pin library versions in requirements.txt"
Hi @OrkoHunter I think it's necessary to do because some day app can not run as expected in case of some backwards incompatibles

[2017-04-27 19:14] chinskiy commented on #28
@OrkoHunter maybe one part of problem is [here](https://github.com/OrkoHunter/pep8speaks/blob/master/pep8speaks/helpers.py#L46) when you merging 2 dictionary. All default configurations 'keys' are [here](https://github.com/OrkoHunter/pep8speaks/blob/master/pep8speaks/helpers.py#L87) - is there any reason to add additional dictionary keys?

[2017-04-27 19:26] sethmlarson commented on #28
Grabbing key and value and then putting them to a list args rather than using `shell=True` would work.

[2017-04-27 19:26] stefanv commented on #36
I only received the following email, which contains a broken link:

[code]

[2017-04-27 19:27] sethmlarson commented on #41
This seems easy enough, submit a PR.

[2017-04-27 19:27] stefanv commented on #36
OK, they had the link slightly wrong, but I found it and fixed it:
https://github.com/organizations/scikit-image/settings/installations/16777

[2017-04-27 20:22] ellieayla commented on #28
Anything to avoid `shell=True` is a plus. That was critical to this exploit.

[2017-05-02 18:16] dibyadas opened #43 "Should not comment on PRs not involving any python files"
pep8speaks currently comments on PRs which do not deal with changes in any python files. It says  'No pep8 errors in the PR'.  In these cases, pep8speaks should not comment.

[2017-05-09 12:44] jfboismenu commented on #20
Hey @OrkoHunter , I think that it is unfortunate that you considering dropping 2.7 support. The entire movie/tv VFX industry is based around 2.7 for the foreseable future, until 2019 at the very least.

[2017-05-09 13:03] OrkoHunter commented on #20
Hey @jfboismenu, to make the issue more clear, PEP8Speaks integration supports __all__ versions of Python.
The issue is about the codebase of the integration itself, which supports 2.7 and 3.4+ as of now.

[2017-05-11 11:08] OrkoHunter commented on #43
Fixed.

[2017-05-11 11:08] #43 closed, assigned to nobody

[2017-05-11 11:20] #41 closed, assigned to nobody

[2017-05-11 11:25] OrkoHunter commented on #38
Closed in #39

[2017-05-11 11:25] #38 closed, assigned to nobody

[2017-05-11 11:26] OrkoHunter commented on #30
Fixed.

[2017-05-11 11:26] #30 closed, assigned to nobody

[2017-05-11 11:40] #28 closed, assigned to nobody

[2017-05-11 11:41] OrkoHunter commented on #28
I've added a check that the updated dictionary will only contain the keys defined (and expected).

[2017-05-11 11:41] #20 closed, assigned to nobody

[2017-05-12 09:22] bsipocz opened #45 "Expose config to non org-wide admins"
I'm trying to set up pep8speaks for astroquery.

However it's rather inconvenient that it requires an org-wide admin to do any of the configuration rather than someone who has write access to the given repo. E.g. all the CI services, RTD etc.

[2017-05-12 09:30] OrkoHunter commented on #45
Hello @bsipocz, Thank you for trying it out !

PEP8 Speaks is a native GitHub integration and I think as of now installing or removing the integration can only be done by the org admins. However any possible configuration is read from the `.pep8speaks.yml` file in the repository which I think can be managed by other maintainers as well.

Travis, RTD, etc. do require the org admin to install the se

[2017-05-12 10:09] bsipocz commented on #45
@OrkoHunter - Thanks for the quick response. We do have the ``.pep8speaks.yml``, https://github.com/astropy/astroquery/blob/master/.pep8speaks.yml, but the bot doesn't pick up the PRs or respond to commands.

[2017-05-12 10:12] bsipocz commented on #45
Also, this is the settings page. We enabled it organization wide, but something is still not right, and sadly I cannot look into the details without someone higher up in the chain (it may be a useful feedback to GitHub in case they're interested...)
![screen shot 2017-05-12 at 12 10 31](https://cloud.githubusercontent.com/assets/6788290/25993955/31b2d4ac-370c-11e7-9b21-faca2bf52c42.png)

[2017-05-12 10:20] OrkoHunter commented on #45
1. The bot picks the .pep8speaks.yml file from the branch of the PR (similar to how Travis does). Since, the config file was added to the repository very recently, the bot will not be able to find the file for already existing PRs unless they are rebased with the current master branch.
2. The bot is expected to create as little noise as possible. So, it will make a comment only if it finds any pep

[2017-05-12 11:08] OrkoHunter commented on #45
@bsipocz There was indeed a bug (a version mismatch between pycodestyle and autopep8). Thank you for reporting. I've pushed the latest version and now it's working. :)
https://github.com/astropy/astroquery/pull/911#issuecomment-301049147

[2017-05-12 11:39] bsipocz commented on #45
I assumed that it needed a rebase, so https://github.com/astropy/astroquery/pull/894 was rebased for that purpose :)

Thank you very much for finding the bug and fixing it! I first say pep8speaks in sunpy, and changed my mind about these bots (really disliked the coveralls bot that leaves useless comments for every commit). I think this bot will be very useful for us on the long term to teach all

[2017-05-12 11:40] OrkoHunter opened #46 "Add more tests"
- Whenever a new change is introduced, deploy the branch as a separate heroku app.
- The following flows must be tested
  - PR_FLOW
    - [x] Create a new PR involving Python files with errors without .pep8speaks.yml - https://github.com/OrkoHunter/test-pep8speaks/pull/81
    - [x] Create a new PR involving Python files with errors with .pep8speaks.yml - https://github.com/OrkoHunter/test-pep8spea

[2017-05-12 12:04] OrkoHunter commented on #45
@bsipocz I'm always thankful to sunpy, the current and improved version of PEP8Speaks would not have been possible by the efforts of @cadair et al.

I can see a lot of astropy repositories in my users list for which pep8speaks is installed, including `astropy/astropy`. Are you not aware of it? It was installed couple of hours ago only.

[2017-05-12 12:07] bsipocz commented on #45
I believe we have enabled that for everything, but don't yet have the yml file, so in my understanding it should not run yet.

[2017-05-12 12:30] OrkoHunter commented on #45
Oh! But pep8speaks does not need the yml file to work (unlike travis). It will eventually run with the default PEP8 configurations. I'm sorry that it was not clear in the [readme](https://github.com/orkohunter/pep8speaks#configuration). So, I think the org admin will need to take the pain of removing it if it is not intended to run on repositories other than astroquery.

[2017-05-12 13:10] bsipocz commented on #45
Would the config understand a list of errors, or should I list them one at a line?

[code]

[2017-05-12 13:33] eteq commented on #45
@OrkoHunter - Below is what I see.  That looks to me like *only* astroquery is activated?  Or am I misunderstanding?

![image](https://cloud.githubusercontent.com/assets/346587/26000163/2f32371a-3728-11e7-8d96-51b78e51b7f8.png)

[2017-05-12 15:15] OrkoHunter commented on #45
This is correct ! It's only working on astroquery now. Maybe the "for all"
option was accidently clicked before and GitHub sent me a bunch of other
repositories' names.

On Fri, May 12, 2017 at 7:03 PM Erik Tollerud <notifications@github.com>
wrote:

--
Himanshu Mishra
Fourth Year Undergraduate
Mathematics and Computing
IIT Kharagpur
https://orkohunter.net

[2017-05-13 18:29] #36 closed, assigned to nobody

[2017-05-16 05:00] eteq commented on #45
Ah, yes, that's exactly what happened: I turned it on momentarily just to see if that would make it speak, but that must have been just when you looked.

[2017-05-16 05:01] eteq commented on #45
@OrkoHunter - it appeared when we turned it on astroquery the first time, nothing happened (until you tried pinging `@pep8speaks`)... can you clarify what the correct steps are in the future if we decide we want to turn it on in other repos?

[2017-05-16 05:26] OrkoHunter commented on #45
@eteq The reason why it didn't work was a bug which I have mentioned in the comments above. The  correct step is simple, you just choose one of the two options in the repository access menu, and then GitHub will start triggering pep8speaks for those repositories. :)

[2017-05-16 05:41] OrkoHunter commented on #45
@bsipocz Sorry for the late response.

The `select` and `ignore` expects its arguments to be a list in the yml format. Unfortunately the default implementation cannot interpret the comma separate options. (Tested [here](https://github.com/OrkoHunter/test-pep8speaks/pull/66)). Hence the current (and ugly) way to use it, will be
[code]

[2017-06-10 04:29] OrkoHunter opened #50 "Split helpers module"
Put config aside and break into smaller modules

[2017-06-28 14:27] bsipocz commented on #45
@OrkoHunter - ``exclude`` also expects the list to be in yml format, right?

[2017-06-28 14:32] OrkoHunter commented on #45
Yes, I believe that is correct.

On Wed, 28 Jun 2017, 19:57 Brigitta Sipocz, <notifications@github.com>
wrote:

--
Himanshu Mishra
Fourth Year Undergraduate
Mathematics and Computing
IIT Kharagpur
https://orkohunter.net

[2017-07-12 20:27] Punyaslok opened #51 "[Fixed] Display pep8 issues with line numbers in descending order"
It would be helpful if there is an option to display the issue in decreasing order of line numbers for each file. This is because fixing pep8 issues from top to bottom may result in the bottom issues' line numbers changing. Hence fixing pep8 issues from bottom to top is more convenient.

[2017-07-12 20:49] OrkoHunter commented on #51
I appreciate the concern and there would be no harm in adding a new option through `.pep8speaks.yml` file.

[2017-07-14 13:37] daviddavis opened #52 "Exclude option is ignored"
It looks like the `exclude` option in `.pep8speaks.yml` is being ignored.

I have an example repository set up:

https://github.com/daviddavis/pep8speaks-exclude

You can see that I am excluding the docs directory:

https://github.com/daviddavis/pep8speaks-exclude/blob/master/.pep8speaks.yml#L7

However, on PRs, pep8speaks still shows errors for files in the excluded directory:

https://github.com

[2017-07-14 16:13] daviddavis commented on #52
It looks like the problem is that [pep8speaks is just running pycodestyle on a file `file_to_check.py`](https://github.com/OrkoHunter/pep8speaks/blob/1c4e91530e23ba86b4bf2c3f84981548e7684b2a/pep8speaks/helpers.py#L231) so excludes never matches anything. We need to filter the files before this point. Opening a PR https://github.com/OrkoHunter/pep8speaks/pull/53.

[2017-07-16 19:09] OrkoHunter opened #54 "Trouble with pep8ify command"
There are loopholes in the entire process of creating a PR with the fix. Currently I'm manually finding out the errored payloads and re-delivering them (and it works often times).

[2017-07-18 02:19] OrkoHunter commented on #52
Hi @daviddavis !

It looks like `filename_match` needed more tweaks than the fnmatch. I have added them in [this commit](https://github.com/OrkoHunter/pep8speaks/commit/d72b3ce71a8f8f975e6cfd9edf0d4d3e768562e4). Can you please verify it?

[2017-07-18 02:26] OrkoHunter commented on #45
Hello @bsipocz !

Since you have multiple exclude options in the `.pep8speaks.yml` of astroquery, I would like to inform you that there was an issue ( #52 ) in the `exclude` config of pep8speaks, which is supposed to be fixed by now! :)

[2017-07-18 10:40] bsipocz commented on #45
Thanks @OrkoHunter for the heads up. I haven't noticed any issues, those file excluded are hardly ever touched (as being copied there from upstream packages or generated on the fly).

[2017-07-18 11:05] daviddavis commented on #52
@OrkoHunter looks good and works well! 👍

Thank you!

[2017-07-18 11:05] #52 closed, assigned to nobody

[2017-08-14 23:57] rlaverde opened #55 "Read the configuration file form PR branch"
Reading the` .pep8speaks.yaml` file from PR branch instead of base branch, will make easy to test changes in the config file.

[2017-08-15 03:57] OrkoHunter commented on #55
Hello @rlaverde

Thanks for opening an issue about it. The default behavior for reading the config file *was* to read it from the PR branch (like Travis, and others) itself. It was working fine, when suggestions brought up some issues -
1. If there were multiple Pull Requests pending, all of them had to be rebased, just to ignore some errors.
2. Same goes for a change every time. Changing it on th

[2017-08-15 14:46] rlaverde commented on #55
I understood, maybe the PR branch could be a fallback if the there isn't a config file in the main branch. Or maybe and option mentioning the bot, i. e. "@pep8speaks read config from PR branch".

[2017-08-15 17:32] dopplershift opened #56 "Expand with flake8 plugins?"
Any thoughts on using flake8 (which uses pycodestyle) and adding some additional flake8 plugins?

[2017-09-28 05:24] OrkoHunter commented on #56
Sounds good. I'm little unsure about how this will work. Does a configuration to use flake8 instead of pycodestyle work?

[2017-09-28 15:51] dopplershift commented on #56
That would work. Any idea on how to handle adding plugins? Or would that just have a whitelist of them baked into pep8speaks?

[2017-09-28 16:54] OrkoHunter commented on #56
TBH I have never used flake8 myself. Do we not just use `flake8` command line tool with arguments (just like pycodestyle/pep8) ? I googled "flake8 plugins" but nothing relevant came in.

[2017-09-28 18:01] chinskiy opened #58 "Rewrite on GitHub's GraphQL API"
Greetings @OrkoHunter
How do you like the idea to rewrite pep8speaks with GraphQL API?
https://developer.github.com/v4/

[2017-09-28 18:35] dibyadas commented on #58
Hi @chinskiy,
That's a nice idea. But I wonder how much it will help in the case of pep8speaks? . GraphQL's most powerful advantage is that one request can replace multiple REST API requests. I just had a quick glance at the code and noticed that most of the modules in helpers.py and handlers.py have at most 1 API call with the exception of 2-3 modules where 2 API calls are made. Thus, my concern.

[2017-09-28 18:42] dopplershift commented on #56
So you first need to install additional packages, like [flake8-print](https://pypi.org/project/flake8-print/). These plugins are then active by default, but then sometimes you have custom configuration for them, though for all of my projects I can put that configuration in `setup.cfg`.

[2017-09-28 19:04] chinskiy commented on #58
Hi @dibyadas
To one plus u have said I can also add reduce downloading superfluous data.
For me it's tempting to rewrite request logic in pep8speaks on GraphQL. but u are right, it's don't give many benefits for pep8speaks now.

[2017-10-03 12:07] chinskiy commented on #51
@Punyaslok try to add to .pep8speaks.yml
`descending_issues_order: True`

[2017-10-11 17:41] OrkoHunter opened #64 "Bug with pep8ify"
pep8ify is not working. The issue is not urgent as the command is not being used much.
[code]

[2017-10-13 18:29] leblancfg opened #68 "Change project name to 'parseltongue'"
If you're going to converse with a Serpent, might as well use [the correct word](https://en.wikipedia.org/wiki/Magic_in_Harry_Potter#Parseltongue) for it, right?

This is meant to be tongue-in-cheek, of course.

[2017-10-13 18:33] OrkoHunter commented on #68
Being a mudblood myself, I fear the dark lord just too much. Hence I dropped the idea.

[2017-10-13 19:50] chinskiy commented on #51
@OrkoHunter I think this issue can be closed

[2017-10-13 21:15] #51 closed, assigned to nobody

[2017-10-15 07:18] #68 closed, assigned to nobody

[2017-11-25 09:22] OrkoHunter opened #70 "Change default value for an argument which takes a list/dictionary"
At https://github.com/OrkoHunter/pep8speaks/blob/f9bfa3762c0fe6578929f0d09b3a5a9402d48aef/pep8speaks/utils.py#L34 and
https://github.com/OrkoHunter/pep8speaks/blob/f9bfa3762c0fe6578929f0d09b3a5a9402d48aef/pep8speaks/utils.py#L34 the default value of one of the arguments is either an empty list or an empty dict. This is dangerous because the state will be shared on every function call.

Read [this]

[2017-11-25 09:27] khanchi97 commented on #70
@OrkoHunter I want to give it a try

[2017-11-25 09:28] OrkoHunter opened #71 "Code Smells"
Landscape currently detects 43 code smells here
https://landscape.io/github/OrkoHunter/pep8speaks/17/messages/smell

Not all, but most of them should be easy to fix.

[2017-11-25 09:30] OrkoHunter commented on #70
Awesome ! Send a pull request for the change.

Let me know if you need any help.

On Sat, Nov 25, 2017 at 2:57 PM Sushil khanchi <notifications@github.com>
wrote:

--
Himanshu Mishra
Fourth Year Undergraduate
Mathematics and Computing
IIT Kharagpur
https://orkohunter.net

[2017-11-25 10:08] OrkoHunter commented on #70
@khanchi97 I am sorry about the two links I posted in the description. Instead of two, I just pasted only one link twice. The other one is over here.
https://github.com/OrkoHunter/pep8speaks/blob/f9bfa3762c0fe6578929f0d09b3a5a9402d48aef/pep8speaks/helpers.py#L137

Can you please update the PR?

[2017-11-25 10:13] khanchi97 commented on #70
@OrkoHunter I have made the changes.

[2017-11-25 10:19] OrkoHunter commented on #70
Awesome and thanks !
I'll get myself back here on December 1st.

Cheers!

[2017-11-25 10:19] #70 closed, assigned to nobody

[2017-12-01 16:40] AileenLumina opened #74 "The bot doesn't seem to work at all"
Check this out: https://github.com/Dwarf-Community/Dwarf/pull/4#pullrequestreview-80548938

Am I doing something wrong? I did add the bot to all repositories of the organization, so I really don't know what's the issue here...

[2017-12-02 08:06] OrkoHunter commented on #74
Hi @AileenLumina
Thanks for reporting this. Yes the bot has been installed in the organization. Let me get back to you once I debug this.

[2017-12-02 14:47] OrkoHunter commented on #74
Hello @AileenLumina,
Thank you very much for reporting the issue. There was indeed a bug which led the app to crash when there were multiple files involved in the Pull Request. Fixed in #75. PEP8Speaks should be working now.
Thanks and cheers !

[2017-12-02 14:47] #74 closed, assigned to nobody

[2018-01-06 12:38] duffn opened #77 "Error with suggest a diff"
- `@bot suggest a diff` in a review comment
- I receive this error in my Heroku logs

[code]

[2018-01-06 12:54] duffn opened #78 "pep8speaks with two factor authentication"
Is there a way to authenticate without a username and password. I thought that's what the GitHub personal token was for, but the bot authenticates with a username and password.

My organization is going to soon require two factor for all accounts and therefore, I would be unable to use the bot in it's current state.

https://github.com/OrkoHunter/pep8speaks/blob/master/pep8speaks/constants.py#L5

[2018-01-22 06:15] ankitvgupta opened #80 "Private Build Failing"
Hello,

I'm trying to deploy this for a private repo. When I try to launch the Heroku app, I get the error below. Any thoughts on how to fix it?

[code]

[2018-01-22 06:18] OrkoHunter commented on #80
Hello @ankitvgupta, Thanks for reporting! This looks like a problem related to installing that particular version of psycopg2. I'll get back to it as soon as I can.

[2018-01-22 06:32] ankitvgupta commented on #80
Awesome, thanks so much! This app looks awesome, so I'd love to get it setup.

[2018-01-22 08:18] ankitvgupta commented on #80
Relatedly - why do I need to supply my Github Bot password when I'm providing the access key?

[2018-01-24 09:06] OrkoHunter opened #81 "Support Jupyter Notebook"
[A lot of projects using PEP 8 Speaks primarily are Jupyter Notebooks](https://github.com/pep8speaks?direction=desc&sort=stars&tab=stars) with `.ipynb` extensions. Currently only `.py` files are scanned using `pycodestyle`. However, it would be good to support `.ipynb` files as well.

Looks helpful
https://github.com/alexandercbooth/nblint

[2018-01-24 09:09] OrkoHunter commented on #80
@ankitvgupta Currently few of the requests might not be using Token but the normal AUTH tuple of usernames and passwords. This actually needs change. I only realised this issue now, and I support removing dependency on Bot password.

This can be solved by making sure Token is passed as a header in every request.

[2018-01-24 09:49] ankitvgupta commented on #80
Gotcha. Thanks for the quick updates!

Please do let me know once the original issue I mentioned gets resolved - looks like it might just be an issue with the version of that package. Happy to help test things if you need.

[2018-01-24 10:54] OrkoHunter commented on #80
I'll work on these issues over the weekend. Will happily inform you of the updates.

[2018-02-16 12:26] matheus-manoel commented on #80
Hello there! Firstly, thanks for the app.

I'm having the same problem. Any updates on the issue?

[2018-02-18 18:06] chinskiy opened #83 "python-runtimes version update"
from heroku  build log
[code]

[2018-02-18 18:09] chinskiy commented on #80
Greetings
#82 fixed problem? it can be closed?

[2018-02-19 19:24] matheus-manoel commented on #80
Hello. Yes, it did.

[2018-02-20 14:12] #80 closed, assigned to nobody

[2018-02-25 16:43] StanczakDominik opened #86 "Allow running docstring checks via pydocstyle"
There's another package by the PyCQA called [pydocstyle](https://github.com/PyCQA/pydocstyle), which does basically the same thing as pycodestyle, except for docstrings. Unfortunately, it doesn't offer fixing bugs by itself, but it seems like it could potentially be a worthy addition to pep8speaks. Would you be interested in an implementation proposal (via PR)?

There's some more discussion starte

[2018-02-25 17:24] OrkoHunter commented on #86
Hello @StanczakDominik

Thank you so much for using PEP8Speaks and considering to suggest an improvement. I am +1 for running pydocstyle. However, since they are not in "PEP8", let us keep the default option, not to check the docs, while it can be enabled by a configuration from `.pep8speaks.yml`.

Feel free to go ahead and work on this. I shall nevertheless consider working on this in the upcomin

[2018-02-28 21:05] StanczakDominik commented on #86
All right! I'm starting to look through the code and tentatively make changes. I'm not too sure what the best way to test this out would be, but I guess I can probably mock some data and see how it behaves.

[2018-03-01 02:52] OrkoHunter commented on #86
@StanczakDominik Testing is definitely a pain in here. The way I do it is
1. Deploy the code on a new herokuapp.
2. Create a test repository with payload URL as this herokuapp.
3. Create PRs on this test repository and see the responses.

That's quite a load of manual work. :(

[2018-03-11 10:43] #83 closed, assigned to nobody

[2018-04-30 11:01] haeusser opened #87 "Heroku: ValueError: View function did not return a response"
Hi there,

first of all, thank you for the great tool. I am using pep8speaks following the instructions for a private repository since I am working on a student project.

Whenever a change to a PR is made, all I see in the Heroku logs is:

[code]

The response GitHub receives is an HTTP500 error:
[code]

Can anyone help me find the problem?

Thanks,
Philip

[2018-04-30 11:07] haeusser commented on #87
When I open the heroku domain for my app, I arrive at the pep8speaks homepage. However, when I download the code from the heroku git repo, there is no code.

[2018-05-01 04:32] sauln opened #88 "pep8ify won't run multiple times"
First off, thank you for this great tool! I've been using pep8speaks and it's automatic pull requests in all my projects.

Most recently, I've been working on a PR for a while and have tried using the pep8ify command multiple times, but it hasn't worked.

### Steps
Initially, I issued the PR and added a comment `@pep8speaks pep8ify`. I then merged the suggested changes.  A few days later, after mo

[2018-05-01 08:22] OrkoHunter commented on #88
Hello @sauln! Thank you for trying out PEP8Speaks!
I can confirm that this is clearly an issue since pep8ify is currently designed to be used only once per PR. Looking at the case of `kepler-mapper`, I think it should be redesigned to be called multiple times. Unfortunately, I don't seem to find much time to work on this in near future.

[2018-05-09 07:43] Cadair opened #89 "Support the new github checks interface"
It looks like the checks feature is a perfect match for this kind of automated code review. Would probably be a fair bit of work though. :)

[2018-05-09 10:04] OrkoHunter commented on #89
Thanks for putting it in my notice! I'll keep this blog here for future reference
https://blog.github.com/2018-05-07-introducing-checks-api/

[2018-05-10 07:45] sauln commented on #88
Hi @OrkoHunter. Thanks for getting back to me.  I love PEP8Speaks!

As a temporary work around, I've found that if I delete my original comment calling pep8ify and delete pep8speaks' comment "Here you go...", then it will issue a second pull request.

[2018-05-18 17:45] CAM-Gerlach opened #90 "Improvements in comment text"
Hey, I'm one of the Spyder core dev team members and we love PEP8Speaks! Having previously worked as a writer and copyeditor, the grammar, spacing, redundancy and clarity of the comment text could be improved:

### Current version

Hello {username} !  Thanks for {submitting/updating} the PR.

- In the file [`spyder/app/tests/test_mainwindow.py`](https://github.com/spyder-ide/spyder/blob/f0e4b7e477

[2018-05-18 18:08] CAM-Gerlach opened #91 "PEP8Speaks itself has dozens of PEP 8 issues"
I noticed while opening the code in Spyder to fix #90 with real time code style analysis (with ``pycodestyle``) turned on, that dozens and dozens of PEP 8 issues popped up in the main files,  While it may not be the end of the world, it seems rather significant that a project who's goal is to clean up PEP 8 issues has so many of its own, heh. If feasible, to put forth a good example, it might be a

[2018-07-07 03:12] feerrenrut commented on #91
I started looking at PRs here for an example of pep8speaks in use. It seems it might serve multiple purposes to "eat your own dogfood" in this case. Using pep8speaks on this project will provide a demonstrate the features, and also help to clean up the violations in the project.

I hope this is taken as constructive.

[2018-09-04 17:17] OrkoHunter opened #93 "Use f-strings instead of str.format"

[2018-09-06 18:16] Silentphantom62 opened #94 "No easy way to test locally with pycodestyle command line if we have a custom config in .pep8speaks.yml"
I have a custom config in .pep8speaks.yml
But if I want to run the pycodestyle locally with respect to my custom config I have to create a setup.cfg file in the repo change the pycodestyle parameters mentioned in yaml to different format and then test it.

Is there an easier/better way to do this?

[2018-09-07 02:38] OrkoHunter commented on #94
I'm afraid not. This is basically what the tool is doing internally.

[2018-09-07 02:38] #94 closed, assigned to nobody

[2018-09-10 23:54] CAM-Gerlach commented on #91
Also, at the same time, I can fix a couple related standards-compliance issues, namely:

* A few files are missing terminating EOLs, as is required by a number of standards (and triggering Git warnings, breaking a number of *nix utilities, etc), namely:

[code]

* A number of files are missing the ``# -*- coding: utf-8 -*-`` line required by PEP 263; however, if its not compatible with Python 2 or

[2018-09-29 09:29] datapythonista opened #95 "Use flake8 settings from setup.cfg"
pep8speaks allows setting up flake8 parameters using the config option `pycodestyle`. For example:
https://github.com/pandas-dev/pandas/blob/master/.pep8speaks.yml#L8

But Python projects/flake8 already defines a way to specify those, which is in the `flake8` section of `setup.cfg`. For example:
https://github.com/pandas-dev/pandas/blob/master/setup.cfg#L14

I think it'd be nice to keep the `pycod

[2018-10-07 12:19] fmaussion opened #96 "Does pep8speaks follow #noqa flags?"
We are in the process of moving from stickler-ci to pep8speaks, but we get false alarms from lines annotated with a `#noqa` (see [this PR](https://github.com/pydata/xarray/pull/2467#issuecomment-427535087)).

Is this expected? Is there a way to avoid these? Thanks a lot!

[2018-10-08 02:18] OrkoHunter commented on #96
Hey @fmaussion! Thank you for reaching out to me about the issue.

I wasn't aware of `#noqa` until now. PEP8Speaks uses [pycodestyle](https://github.com/PyCQA/pycodestyle) as the linter. So, the error messages are not up to me.

I found [some](https://github.com/PyCQA/pycodestyle/issues/180) [discussion](https://github.com/PyCQA/pycodestyle/issues/480) about implementing it in pycodestyle, but if

[2018-10-08 14:01] fmaussion commented on #96
Thanks for the info! Maybe we'll keep this issue open for future reference.

[2018-12-06 09:03] tammojan opened #97 ".pep8speaks.yml not parsed?"
I'm using pep8speaks on a (public) repository with long lines. Pep8speaks [complains](https://github.com/apertif/apercal/pull/92#issuecomment-444785089) about the lines being longer than 79 characters, even though I set `max-line-length: 120` in [.pep8speaks.yml](https://github.com/apertif/apercal/blob/master/.pep8speaks.yml). I have the impression that the config is ignored, but I have no way to

[2018-12-07 02:27] OrkoHunter commented on #97
Hi @tammojan! Thank you for raising the issue. The config file looks correct to me. I can see that the [branch](https://github.com/apertif/apercal/tree/first_aoflag) used to create the PR does not have .pep8speaks.yml file. Please let me know if the problem is solved by rebasing.

[2018-12-07 13:10] tammojan commented on #97
Thanks for having a look! I rebased the branch, now it does have a [.pep8speaks.yml](https://github.com/apertif/apercal/blob/first_aoflag/.pep8speaks.yml). Still the same [complaints](https://github.com/apertif/apercal/pull/92#issuecomment-444785089), the line length 120 from the yml is not respected.

[2018-12-17 06:50] imhassantariq opened #98 "pep8speaks is not picking configurations file"
pep8speaks is not picking the configuration file ".pep8speaks.yml" automatically i have added this file in my PR but still it's showing error's. Even i have put this file in my master branch as well and created new PR but still it's not working.

[2018-12-19 13:29] tammojan commented on #97
Hi @OrkoHunter , could you have another look please? I think all PRs (e.g. https://github.com/apertif/apercal/pull/114) now have the proper .pep8speaks.yaml but still I get warnings that should have been silenced.

[2018-12-21 10:28] OrkoHunter commented on #97
Hi @tammojan @imhassantariq, let me have a look on the configuration issue.

[2018-12-21 10:37] OrkoHunter commented on #97
On a test PR, I can see that the bot is respecting the configuration file of the [test repo](https://github.com/OrkoHunter/test-pep8speaks/pull/74).

I will now consider the special case of your Pull Request.

[2018-12-21 11:19] OrkoHunter commented on #97
I used the same configuration as https://github.com/apertif/apercal/blob/master/.pep8speaks.yml and it worked well on the test repository.
https://github.com/OrkoHunter/test-pep8speaks/pull/75

[2018-12-21 11:22] OrkoHunter commented on #97
I created a new pull request with exceeding line length limit, and it seems to be working well with the configuration file. - https://github.com/apertif/apercal/pull/115

[2018-12-21 11:25] OrkoHunter commented on #97
The comment in the [pull request](https://github.com/apertif/apercal/pull/114) you mentioned points to a repository https://github.com/tammojan/apercal/

Is it possible that you moved this project from one account to another? Maybe that is causing some issues. I believe if you create a fresh Pull Request, everything should be good, like the [PR I created](https://github.com/apertif/apercal/pull/11

[2018-12-21 11:30] OrkoHunter commented on #98
The Pull Request where you saw this behavior is - https://github.com/ucsd-ets/edx-platform/pull/42

The comment on this PR by pep8speaks points to a repository/branch which does not exist anymore https://github.com/imhassantariq/edx-platform/, hence it can not pickup any configuration file. Some things changed after the PR was created and thus GitHub API is sending mixed up values.

I believe if y

[2018-12-21 11:30] #98 closed, assigned to nobody

[2018-12-21 11:32] OrkoHunter commented on #97
Please re-open the issue if you see this behavior on any new Pull Request you create.

[2018-12-21 12:15] tammojan commented on #97
Thanks again for looking into this. I just created a new PR and the issue still shows. See https://github.com/apertif/apercal/pull/116 . I cannot reopen this issue, perhaps you can do that for me?

I'm quite sure I did not move the repository from tammojan/apercal.

I don't see which comment you refer to.

[2018-12-22 10:18] OrkoHunter commented on #97
Hey @tammojan! Maybe I understand the issue. It is a case when a user A creates a PR on user B's repository while creating a branch on B's repository itself (no forks).

Let me get back to you in some time.

[2018-12-22 10:20] OrkoHunter commented on #97
By the comment, I was referring to the highlighted line number in the [bot's comment](https://github.com/apertif/apercal/pull/116#issuecomment-449372760). Sorry, that is not relevant here

[2018-12-22 11:54] OrkoHunter commented on #97
Hi @tammojan! I deployed the latest version of the code and re-delivered the payload of https://github.com/apertif/apercal/pull/116

It seems to be using the configuration file now. Can you please test it one more time on a new PR?

Thank you.

[2018-12-22 13:38] tammojan commented on #97
Thanks, this solves the issue (tested in https://github.com/apertif/apercal/pull/117).

[2018-12-23 05:56] OrkoHunter commented on #97
Awesome!

[2018-12-23 05:56] #97 closed, assigned to nobody

[2019-02-04 12:22] rs2 opened #102 "Invocation of helpers.create_gist does not follow the signature"
https://github.com/OrkoHunter/pep8speaks/blob/24be67c415bbd311d4d382927a1a028d63d80419/pep8speaks/handlers.py#L152
yet
https://github.com/OrkoHunter/pep8speaks/blob/24be67c415bbd311d4d382927a1a028d63d80419/pep8speaks/helpers.py#L378

[2019-02-04 21:00] kohr-h opened #103 "pep8speaks reports both W503 and W504"
Apparently there has been a recent change in `pycodestyle` that favors line breaks before binary operators over breaks after them:

[code]
Currently, pep8speaks complains about both variants: the first one triggers W504, the second one W503.

In principle, W504 should be ignored by default in pycodestyle, but that doesn't seem to be the case.

Should one of the two go into the list of default igno

[2019-02-05 09:59] OrkoHunter commented on #103
Hi @kohr-h!

Can you let me know about the version of pycodestyle with this change? As soon as it gets published on pypi, I can deploy the latest version.

pep8speaks does not have any default pycodestyle configuration. I recommend using .pep8speaks.yml to configure pycodestyle according to your needs.

[2019-02-05 10:10] #102 closed, assigned to nobody

[2019-02-05 10:27] kohr-h commented on #103
@OrkoHunter I'm not entirely sure. The [changelog](https://pycodestyle.readthedocs.io/en/latest/developer.html#id3) mentions W504 as a new check in version 2.4.0 (released 2018-04-10), but at the same time writes "This check is ignored by default." Still, pep8speaks started emitting W504 a while ago (end of 2018 maybe?), and it's hard to avoid both warnings at the same time :-)

With default confi

[2019-02-05 10:34] OrkoHunter commented on #103
Oh! Sure, it makes sense to me.

I will add W504 in the README.

[2019-02-05 10:36] #103 closed, assigned to nobody

[2019-02-27 05:16] TomaszKolek opened #105 "Does pep8speaks ignores config?"
Hey folks!

I have some problems with configuring pep8speaks. It seems pep8speaks ignores config file. Could you please check it?
The config file is on dev branch here:
https://github.com/CiviWiki/OpenCiviWiki/blob/dev/.pep8speaks.yml

And we have PR https://github.com/CiviWiki/OpenCiviWiki/pull/335 that has pep8speaks comment with E501 with max line 79 even though on config file we have 120 chars

[2019-02-27 05:19] TomaszKolek commented on #105
Sorry Bot just probably needed more time!

Sorry for creating this issue.

[2019-02-27 05:19] #105 closed, assigned to nobody

[2019-02-27 14:48] OrkoHunter commented on #45
Please re-open if any comment/query has not been addressed. :)

[2019-02-27 14:48] #45 closed, assigned to nobody

[2019-02-27 14:49] #23 closed, assigned to nobody

[2019-02-27 14:51] OrkoHunter commented on #21
This can be a fun project to work on (Although it will require quite some effort)! There can be a core of pep8speaks and two other wrappers for GitHub API and GitLab API.

[2019-02-27 15:51] OrkoHunter commented on #105
Oh hey @TomaszKolek !

Glad it worked out. :)

[2019-03-02 04:23] #78 closed, assigned to nobody

[2019-03-02 05:16] OrkoHunter commented on #91
Hi @CAM-Gerlach ! Thank you for your suggestions on the PEP 8 issues and note about EOLs. I agree that the code itself had those issues.

As of today, there are no style issues detected by `pycodestyle` in the project. As a note, I would like to add that there are some [configurations](https://github.com/OrkoHunter/pep8speaks/blob/master/.pep8speaks.yml) of pycodestyle that this project uses. I sh

[2019-03-02 05:16] #91 closed, assigned to nobody

[2019-03-02 07:11] #90 closed, assigned to nobody

[2019-03-02 08:39] #93 closed, assigned to nobody

[2019-03-02 19:02] OrkoHunter commented on #29
Closing this issue. Please re-open if the error still persists.

[2019-03-02 19:02] #29 closed, assigned to nobody

[2019-03-02 19:08] #1 closed, assigned to nobody

[2019-03-02 19:13] OrkoHunter commented on #87
Hi @haeusser!

It has taken me long to get back to you. The `ValueError: View function did not return a response` is not a critical error in Heroku logs. It just means that for some types of payloads sent by Github, no action is taken i.e. No response is returned. As of now, most of the payloads receive a definite response, so you won't see a lot of these in the logs now (if you use the latest ver

[2019-03-02 19:13] #87 closed, assigned to nobody

[2019-03-02 19:53] #55 closed, assigned to nobody

[2019-03-02 19:54] OrkoHunter commented on #55
Thank you @rlaverde for your suggestion! PEP8Speaks will now look at the branch of Pull Request as a fallback if no config is found on the base branch.

[2019-03-08 05:07] OrkoHunter opened #107 "Improve documentation"
The README is a resource which users look to get quick access to configuration. The configuration section should be detailed and up-to-date.

Features section should have a major and a miscellaneous section for the features which are not popular.

Wiki needs an update as well.

[2019-03-08 07:43] OrkoHunter opened #108 "List installations of the GitHub App"
There is no way to find out the installations of the GitHub App on its settings page. I contacted the GitHub support and they responded back with useful endpoints to find it out.

[code]

[2019-03-08 08:42] #95 closed, assigned to nobody

[2019-03-08 10:50] OrkoHunter commented on #95
Hello @datapythonista !

Thank you so much for the wonderful suggestion. A [new release](https://github.com/OrkoHunter/pep8speaks/releases) of the app has been pushed, tested and deployed with your suggestion. You can now remove the `pycodestyle` section from `.pep8speaks.yml` and it will read configurations from the `[flake8]` section of `setup.cfg`.

[2019-03-08 10:52] OrkoHunter commented on #107
Closed in #109

[2019-03-08 10:52] #107 closed, assigned to OrkoHunter

[2019-03-08 10:57] #54 closed, assigned to nobody

[2019-03-08 10:58] #24 closed, assigned to nobody

[2019-03-08 10:59] OrkoHunter commented on #64
Duplicate #24 #54

[2019-03-08 11:00] datapythonista commented on #95
thanks @OrkoHunter, I created this issue in pandas, will let you know how it works: https://github.com/pandas-dev/pandas/issues/25605

thank you!

[2019-03-08 14:15] OrkoHunter commented on #108
Done. https://github.com/OrkoHunter/pep8speaks/wiki/List-of-users-and-orgs

[2019-03-08 14:15] #108 closed, assigned to nobody

[2019-03-11 06:41] OrkoHunter opened #110 "Logo/Avatar needs update | Need ideas"
Current logo -
![24736507](https://user-images.githubusercontent.com/8065913/54104543-4cbd4900-43f6-11e9-9825-afec9e3b7aec.png)

This was a 30 minutes effort with very little design skills almost two years ago. I like it but would love to design something new which is elegant and creative.

Ideas/Contributions are welcome!

[2019-03-11 15:58] OrkoHunter opened #111 "Reject requests coming from private repositories which pep8speaks can not access"
PEP 8 Speaks can be installed on private repositories and receive payloads. But they result in errors since the bot cannot access the repository.

Hence in https://github.com/OrkoHunter/pep8speaks/blob/edc1549ffb6c3edd27ef250b99e030d8f4258b0d/pep8speaks/models.py#L44-L53

detect if the bot is able to view the repository.

[2019-03-11 16:57] OrkoHunter opened #113 "Improve logging"
As of now, the logs do not contain any information. Relevant logs should be added to aide debugging of failed payloads.

I have installed https://logentries.com on Heroku. Looks great so far.

[2019-03-11 21:10] OrkoHunter commented on #40
Some of the core features are now being tested on CI! #100

[2019-03-11 21:10] #40 closed, assigned to nobody

[2019-03-11 21:41] OrkoHunter opened #114 "Create CONTRIBUTING.md"
This project needs a CONTRIBUTING.md file which should cover -

* An overview of how this project works
* How to run, modify and test the project locally

[2019-03-11 22:31] OrkoHunter commented on #96
Hi @fmaussion !

I can see that `E741` has been added to the ignore list in [`.pep8speaks.yml`](https://github.com/pydata/xarray/blob/master/.pep8speaks.yml). Does @pep8speaks still complain about any `#noqa` errors other than E741?

I would also like to let you know that there is no need to maintain two copies of pycodestyle/flake8 settings in `.pep8speaks.yml` and `setup.cfg`. You can go ahead a

[2019-03-12 09:50] aadibajpai commented on #110
Do you have a specific design in mind?

[2019-03-12 17:40] OrkoHunter commented on #89
I am planning to work on it. I have requested existing users for the Checks API event subscription and permission.

[2019-03-13 05:07] weekly-digest[bot] opened #116 "Weekly Digest (6 March, 2019 - 13 March, 2019)"
Here's the **Weekly Digest** for [*OrkoHunter/pep8speaks*](https://github.com/OrkoHunter/pep8speaks):

 - - -
# ISSUES
Last week 9 issues were created.
Of these, 5 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #114 [Create CONTRIBUTING.md](https://github.com/OrkoHunter/pep8speaks/issues/114), by [OrkoHunter](https://github.com/OrkoHunter)
:green_heart: #113 [Imp

[2019-03-13 05:11] #116 closed, assigned to nobody

[2019-03-13 07:20] OrkoHunter commented on #110
Hi @aadibajpai !

I do not have anything specific in mind! I have never designed a logo before and I am curious about resources/ideas/tips for doing so. I am willing to learn what makes a logo elegant and creative.

[2019-03-13 07:31] OrkoHunter commented on #96
Hi @fmaussion !

PEP 8 Speaks can now support `#noqa`. After #115, projects can choose between `pycodestyle` and `flake8` as their linter. The `scanner.linter` option `.pep8speaks.yml` should be set to `flake8`.

Example `.pep8speaks.yml` -
[code]

[Complete configuration details is in the README](https://github.com/OrkoHunter/pep8speaks#configuration). I am going to close this issue. Let me know

[2019-03-13 07:31] #96 closed, assigned to nobody

[2019-03-15 08:00] #111 closed, assigned to nobody

[2019-03-16 14:19] alanjds opened #121 "Allow `yapf` as the linter"
"Yet Another Python Formater" allows more style choices when still sticking to the PEP8

If the project have a `.style.yapf` on the root, it can be assumed to use YAPF and use the file for configuration

[2019-03-16 14:35] OrkoHunter commented on #121
Hi @alanjds !

I recently added `flake8` as a linter in #115. yapf looks promising. It will definitely be a good enhancement.

[2019-03-16 18:51] #114 closed, assigned to OrkoHunter

[2019-03-20 08:28] OrkoHunter commented on #110
Hi @aadibajpai !

Wow! Thank you so much for adding this. This looks neat!

[2019-05-17 09:34] nijel commented on #86
How about supporting this through flake8 extensions? There is [flake8-docstrings](https://pypi.org/project/flake8-docstrings/). Also having support for flake8 extensions would make this tool generally extensible.

So in the end this might be obsoleted once https://github.com/OrkoHunter/pep8speaks/issues/56 is implemented.

[2019-05-17 10:52] nijel opened #124 "Add support for more code formatters"
There is currently support for pep8ify, but it would be useful to support other tools in this way:

* [black](https://github.com/python/black)
* [isort](https://github.com/timothycrosley/isort)

[2019-05-20 12:19] weekly-digest[bot] opened #126 "Weekly Digest (13 May, 2019 - 20 May, 2019)"
Here's the Weekly Digest for [OrkoHunter/pep8speaks](https://github.com/OrkoHunter/pep8speaks):
# ISSUES
This week, 3 issues were created. Of these, 0 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #125 [Add help text with supported commands](https://github.com/OrkoHunter/pep8speaks/pull/125), by [nijel](https://github.com/nijel)
:green_heart: #124 [Add support f

[2019-06-03 02:48] weekly-digest[bot] opened #128 "Weekly Digest (27 May, 2019 - 3 June, 2019)"
Here's the **Weekly Digest** for [*OrkoHunter/pep8speaks*](https://github.com/OrkoHunter/pep8speaks):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #127 [Support GitHub Enterprise](https://github.com/OrkoHunter/pep8speaks/pull/127), by [hirose31](https://github.com/hirose31)
## NOISY ISSUE
:speaker: #127 [Support GitHub Enterprise](https://github.co

[2019-06-09 11:22] thealphadollar commented on #110
@OrkoHunter Please update.

[2019-06-10 02:48] weekly-digest[bot] opened #129 "Weekly Digest (3 June, 2019 - 10 June, 2019)"
Here's the **Weekly Digest** for [*OrkoHunter/pep8speaks*](https://github.com/OrkoHunter/pep8speaks):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, 1 pull request was created, updated or merged.
## UPDATED PULL REQUEST
Last week, 1 pull request was updated.
:yellow_heart: #127 [Support GitHub Enterprise](https://github.com/OrkoHunter/pep8speaks/pull/127), b

[2019-06-10 18:30] max-sixty opened #130 "Potential issue with `exclude` in setup.cfg"
Hi there - we're attempting to have pep8speaks use the `flake8` configs in `setup.cfg` rather than copy them into yaml format.

This works well for the `ignore` config, but doesn't seem to pick up the `exclude` config - specifically in the attached PR, we exclude `doc`, but pep8speaks still runs on that path (those are the only errors it raises)

Here's the PR: https://github.com/pydata/xarray/pul

[2019-06-11 10:27] OrkoHunter opened #131 "Add a way to force bot to use config from the head branch"
See https://github.com/OrkoHunter/pep8speaks/issues/130

[2019-06-11 10:30] OrkoHunter opened #132 "Add pydata/xarray to list of projects"
https://github.com/pydata/xarray

[2019-06-11 10:31] OrkoHunter commented on #130
Hello @max-sixty ! Thank you for creating the issue and using PEP 8 Speaks.

The config file in the [Pull Request](https://github.com/pydata/xarray/pull/3010) looks good to me. However, as documented in the [configuration](https://github.com/OrkoHunter/pep8speaks#configuration), the bot first searches for the configuration in the base branch of the pull request, which in this case is `pydata:maste

[2019-06-11 15:08] max-sixty commented on #130
Thanks @OrkoHunter !

Albeit with a limited perspective, it would be good to read from the PR being merged rather than `master`; otherwise it makes changing configs more difficult - we can't easily see the impact of proposed changes.

Thanks for an awesome product!

[2019-06-11 16:10] max-sixty commented on #132
I know you mentioned you'd do this, but lmk if you'd like a hand here

[2019-06-13 12:13] thealphadollar opened #133 "PEP8Speaks doesn't honor pycodestyle ignores"
At [sample-platform](https://github.com/CCExtractor/sample-platform/pull/299#issuecomment-501666611) we recently added migrations and for the same we added `ignore` parameter to PEP8Speaks.yml but PEP8Speaks did not honor the `ignore` parameter in the same way as `pycodestyle`.

Below is the configuration for both; PEP8Speaks and pycodestlye.

![Screenshot from 2019-06-13 17-37-30](https://user-im

[2019-06-13 15:37] thealphadollar commented on #133
Probably due to #130

@OrkoHunter Please confirm and close :smile: I'll work on this on behalf of @CCExtractor.

[2019-06-13 15:41] thealphadollar commented on #133
The issue is indeed the same.

[2019-06-13 15:41] #133 closed, assigned to nobody

[2019-06-17 01:23] weekly-digest[bot] opened #134 "Weekly Digest (10 June, 2019 - 17 June, 2019)"
Here's the Weekly Digest for [OrkoHunter/pep8speaks](https://github.com/OrkoHunter/pep8speaks):
# ISSUES
This week, 4 issues were created. Of these, 1 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #132 [Add pydata/xarray to list of projects](https://github.com/OrkoHunter/pep8speaks/issues/132), by [OrkoHunter](https://github.com/OrkoHunter)
:green_heart: #131 [A

[2019-06-17 15:38] nijel opened #135 "Gold sponsors not on website"
The gold level mentions placement on the website, but PSF is not listed that, is that intentional?

[2019-06-18 08:26] OrkoHunter commented on #135
Hello @nijel,

Thank you for pointing it out. It was my mistake that I forgot to do so. I have now added the section on the website. https://pep8speaks.com/ https://github.com/OrkoHunter/pep8speaks.com

[2019-06-18 08:26] #135 closed, assigned to nobody

[2019-06-18 11:29] #134 closed, assigned to nobody

[2019-06-24 02:48] weekly-digest[bot] opened #138 "Weekly Digest (17 June, 2019 - 24 June, 2019)"
Here's the **Weekly Digest** for [*OrkoHunter/pep8speaks*](https://github.com/OrkoHunter/pep8speaks):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 3 issues have been closed and 0 issues are still open.
## CLOSED ISSUES
:heart: #137 [Fix Weblate logo aspect ratio](https://github.com/OrkoHunter/pep8speaks/pull/137), by [nijel](https://github.com/nijel)
:heart: #136 [Add Weblate as Gol

[2019-07-05 17:40] nclopezo opened #139 "The checks are not being run after code update."
Hi,

I am trying to use pep8 speaks in my project. I got a message with pep8 issues in my pull request. I added some commits to fix the issues, but it didn't run again.

See https://github.com/chembl/GLaDOS/pull/1159#issuecomment-508735413

Thanks!

[2019-07-05 17:41] nclopezo commented on #139
I fixed the pep 8 issues in this commit: https://github.com/chembl/GLaDOS/pull/1159/commits/64181f53392a8e40e92703b7a68062ab819662a5

[2019-07-05 18:16] OrkoHunter commented on #139
Hi @nclopezo !

GitHub tells me that the comment has been "edited" 2 times, the recent most is 2 hours ago, which is about the time when you pushed the commit.

[2019-07-05 18:18] OrkoHunter commented on #139
The Hyperlink in the bot's comment indeed point to the second last commit `3ba...`, but not the last commit.

[2019-07-05 18:48] OrkoHunter opened #140 "Probable race condition on file_to_check.py"
See the log message (related issue #139).

[code]

A good way to avoid this is to create file_to_check_<uniqueid>.py for each process and so, this exception would not occur again.

[2019-07-05 18:51] OrkoHunter commented on #139
Hi @nclopezo !

Thank you so much for reporting. It sure is a bug due to a race condition in the backend (Created #140). I hope the exception does not occur the next time this PR is updated.

[2019-09-10 21:04] desilinguist opened #143 "No comment posted after updating PR with a commit"
I installed pep8speaks and added the `.pep8speaks.yml` file to two of my repositories. However, while one of them is fine, the second repo is not seeing any comments at all. For example, in [this PR](https://github.com/EducationalTestingService/skll/pull/479), I updated the PR by merging `master` (that contained the `.pep8speaks.yml` file) into it but am not seeing any comments at all.

Not sure i

[2019-09-11 15:56] desilinguist commented on #143
What's interesting is that if I comment `pep8speaks suggest diff` in that same PR, that works for some reason.

[2019-09-16 17:45] desilinguist commented on #143
It works fine now.

[2019-09-16 17:45] #143 closed, assigned to nobody

[2019-09-30 03:42] weekly-digest[bot] opened #146 "Weekly Digest (23 September, 2019 - 30 September, 2019)"
Here's the **Weekly Digest** for [*OrkoHunter/pep8speaks*](https://github.com/OrkoHunter/pep8speaks):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were 2 staga

[2019-10-07 03:42] weekly-digest[bot] opened #147 "Weekly Digest (30 September, 2019 - 7 October, 2019)"
Here's the **Weekly Digest** for [*OrkoHunter/pep8speaks*](https://github.com/OrkoHunter/pep8speaks):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were 2 staga

[2019-10-14 03:42] weekly-digest[bot] opened #148 "Weekly Digest (7 October, 2019 - 14 October, 2019)"
Here's the **Weekly Digest** for [*OrkoHunter/pep8speaks*](https://github.com/OrkoHunter/pep8speaks):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were 3 staga

[2019-10-28 12:37] weekly-digest[bot] opened #149 "Weekly Digest (21 October, 2019 - 28 October, 2019)"
Here's the Weekly Digest for [OrkoHunter/pep8speaks](https://github.com/OrkoHunter/pep8speaks):
# ISSUES
This week, no issues have been created or closed.

# PULL REQUESTS
This week, no pull requests has been proposed by the users.

# CONTRIBUTORS
This week, no user has contributed to this repository.

# STARGAZERS
This week, no user has starred this repository.

# COMMITS
This week, there have be

[2019-11-15 23:56] alimcmaster1 commented on #124
@OrkoHunter - what would it take to support black? Mind outlining what would be involved? I might be interested in working on this.

Thanks,

Ali

[2019-11-16 01:29] OrkoHunter commented on #124
@alimcmaster1 Thank you so much for your interest! Let me post an overview about how this can be implemented.

- User commends pep8ify on a Pull Request and the server receives the call [here](https://github.com/OrkoHunter/pep8speaks/blob/996cc290da293ff0200cf4e94c79eef4cfa5226b/pep8speaks/handlers.py#L88) which calles [pep8speaks.hanndlers._pep8ify](https://github.com/OrkoHunter/pep8speaks/blob/9

[2019-11-19 15:52] dizcza commented on #143
How did you solve it?

[2019-12-16 20:35] weekly-digest[bot] opened #150 "Weekly Digest (9 December, 2019 - 16 December, 2019)"
Here's the Weekly Digest for [OrkoHunter/pep8speaks](https://github.com/OrkoHunter/pep8speaks):
# ISSUES
This week, no issues have been created or closed.

# PULL REQUESTS
This week, no pull requests has been proposed by the users.

# CONTRIBUTORS
This week, no user has contributed to this repository.

# STARGAZERS
This week, no user has starred this repository.

# COMMITS
This week, there have be

[2020-02-03 10:48] weekly-digest[bot] opened #152 "Weekly Digest (27 January, 2020 - 3 February, 2020)"
Here's the **Weekly Digest** for [*OrkoHunter/pep8speaks*](https://github.com/OrkoHunter/pep8speaks):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there was 1 starga

[2020-02-10 07:06] weekly-digest[bot] opened #153 "Weekly Digest (3 February, 2020 - 10 February, 2020)"
Here's the **Weekly Digest** for [*OrkoHunter/pep8speaks*](https://github.com/OrkoHunter/pep8speaks):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no star

[2020-02-17 07:06] weekly-digest[bot] opened #154 "Weekly Digest (10 February, 2020 - 17 February, 2020)"
Here's the **Weekly Digest** for [*OrkoHunter/pep8speaks*](https://github.com/OrkoHunter/pep8speaks):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were 2 staga

[2020-02-24 07:06] weekly-digest[bot] opened #155 "Weekly Digest (17 February, 2020 - 24 February, 2020)"
Here's the **Weekly Digest** for [*OrkoHunter/pep8speaks*](https://github.com/OrkoHunter/pep8speaks):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there was 1 starga

[2020-03-02 08:05] weekly-digest[bot] opened #156 "Weekly Digest (24 February, 2020 - 2 March, 2020)"
Here's the **Weekly Digest** for [*OrkoHunter/pep8speaks*](https://github.com/OrkoHunter/pep8speaks):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there was 1 starga

[2020-03-04 14:09] uvchik opened #157 "Skip unbreakable lines linke sphinx tables (rst)"
Is it possible to skip unbreakable lines?

As I know, it is not possible to break rows in a sphinx table (rst) but it is kind of confusing to split these messages from reasonable messages.

https://github.com/oemof/oemof/blob/4462e2f63c40ca0bc3357004473a968681439d15/oemof/solph/components.py#L1258

[2020-03-06 13:37] dizcza opened #158 "Pep8speaks is not triggered"
I tried reinstalling pep8speak service in NeuralEnsemble/elephant a few times with no luck.
Github shows pep8speak service is on but it does not check the pull requests.
For example, in this PR https://github.com/NeuralEnsemble/elephant/pull/303 there is no comment from pep8speaks.
It has been already for half a year or so. I thought it's a known issue, but it's not - I've just setup pep8speak for

[2020-03-06 13:50] #126 closed, assigned to nobody

[2020-03-06 13:50] #128 closed, assigned to nobody

[2020-03-06 13:50] #129 closed, assigned to nobody

[2020-03-06 13:50] #138 closed, assigned to nobody

[2020-03-06 13:50] #146 closed, assigned to nobody

[2020-03-06 13:50] #147 closed, assigned to nobody

[2020-03-06 13:50] #148 closed, assigned to nobody

[2020-03-06 13:50] #149 closed, assigned to nobody

[2020-03-06 13:50] #150 closed, assigned to nobody

[2020-03-06 13:50] #152 closed, assigned to nobody

[2020-03-06 13:50] #153 closed, assigned to nobody

[2020-03-06 13:50] #154 closed, assigned to nobody

[2020-03-06 13:50] #155 closed, assigned to nobody

[2020-03-06 13:50] #156 closed, assigned to nobody

[2020-03-06 13:55] OrkoHunter commented on #158
Hi @dizcza, thanks for reporting the issue. I can confirm that the payloads are being delivered to the app, hence there is no problem with the installation.

[2020-03-06 14:00] OrkoHunter commented on #158
Hello @dizcza, PEP8Speaks is working on the repository https://github.com/NeuralEnsemble/elephant/pull/304

I believe for https://github.com/NeuralEnsemble/elephant/pull/303, there is no PEP8 errors and by default the bot is set to not comment. You can configure the behavior by [`.pep8speaks.yml`](https://github.com/OrkoHunter/pep8speaks#configuration)

[2020-03-06 14:00] #158 closed, assigned to nobody

[2020-03-06 14:06] dizcza commented on #158
Ah, I see, sorry.
Thank you for checking it.

[2020-03-06 14:07] OrkoHunter commented on #157
Hi @uvchik, PEP8Speaks uses either `pycodestyle` or `flake8` as its linters. See [configuration](https://github.com/OrkoHunter/pep8speaks#configuration). So, any specific configuration about linting belongs to them, and can be passed on by `.pep8speaks.yml`.

I believe the standard way to ignore specific lines is by using `#noqa` flags. See [Ignoring Errors with Flake8](https://flake8.pycqa.org/en

[2020-03-06 14:07] #157 closed, assigned to nobody

[2020-03-06 14:08] OrkoHunter commented on #158
You're welcome. :)

[2020-03-23 09:37] weekly-digest[bot] opened #159 "Weekly Digest (16 March, 2020 - 23 March, 2020)"
Here's the Weekly Digest for [OrkoHunter/pep8speaks](https://github.com/OrkoHunter/pep8speaks):
# ISSUES
This week, no issues have been created or closed.

# PULL REQUESTS
This week, no pull requests has been proposed by the users.

# CONTRIBUTORS
This week, no user has contributed to this repository.

# STARGAZERS
This week, no user has starred this repository.

# COMMITS
This week, there have be

[2020-04-02 21:18] max-sixty opened #161 ""Indentation is not a multiple of four" potential error?"
Any ideas what's going on here? It seems to be a mistake; though not impossible there's some invisible character issue our end. Flake8 and black checks pass, though.

https://github.com/pydata/xarray/pull/3643#issuecomment-608090328

[2020-04-04 08:11] OrkoHunter commented on #161
Thanks for reporting! The bot's comment is wild.

[2020-04-04 09:58] OrkoHunter commented on #161
Hi @max-sixty, I triggered the bot for this PR and looks like it has updated the comment. Something might have gone wrong with the request when that useless comment was made. And the there was no additional commit, so the bot didn't get a chance to update the comment.

Anyhow, it's fixed. But thanks a lot for reporting! 🙇

[2020-04-04 09:58] #161 closed, assigned to nobody

[2020-04-04 10:05] #132 closed, assigned to nobody

[2020-04-04 10:06] #159 closed, assigned to nobody

[2020-04-04 10:07] #50 closed, assigned to nobody

[2020-04-04 10:07] #110 closed, assigned to nobody

[2020-04-04 18:42] max-sixty commented on #161
Thanks @OrkoHunter

[2020-04-06 17:50] weekly-digest[bot] opened #163 "Weekly Digest (30 March, 2020 - 6 April, 2020)"
Here's the Weekly Digest for [OrkoHunter/pep8speaks](https://github.com/OrkoHunter/pep8speaks):
# ISSUES
This week, 5 issues were created. Of these, 4 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #144 [Fix commands for non-offical deployment](https://github.com/OrkoHunter/pep8speaks/pull/144), by [eeshugerman](https://github.com/eeshugerman)
## CLOSED ISSUES
:h

[2020-04-06 21:31] changning-niu opened #164 "Broken dependency flask-session"
Deployment on Heroku failed because of this issue of flask-session:
https://github.com/fengsp/flask-session/pull/114

[2020-04-07 03:41] OrkoHunter commented on #164
That's true! Thanks for reporting @changning-niu

The current CI build is failing as well.
https://travis-ci.org/github/OrkoHunter/pep8speaks/builds/670887717?utm_source=github_status&utm_medium=notification

My comment on this issue https://github.com/pytest-dev/pytest-flask/issues/119

[2020-04-12 07:01] #163 closed, assigned to nobody

[2020-04-15 20:21] Eskapp opened #165 "pep8speaks only returns W292 codes even when not relevant or ignored"
**Context:**
I went back working on a private project for which we have a fork of pep8speaks as a webhook (done as suggested in https://github.com/OrkoHunter/pep8speaks/wiki/Instructions-to-deploy-a-fork)

Things were working perfectly by the end of 2018 as this screenshot proves:
![sc1](https://user-images.githubusercontent.com/18263140/79383781-c5fd6880-7f33-11ea-98b3-9021403f9e94.PNG)

Coming b

[2020-04-16 01:09] OrkoHunter commented on #165
This reminds me of https://github.com/OrkoHunter/pep8speaks/issues/161 All the issues were only E111.

<img width="2048" alt="Screen Shot 2020-04-16 at 10 07 53" src="https://user-images.githubusercontent.com/8065913/79403529-250dbc80-7fca-11ea-80ea-bfc3dd92d0f5.png">

[2020-04-16 19:19] Eskapp commented on #165
We decided to retake all the steps from scratch.
Now we get a `ModuleNotFoundError: No module named 'werkzeug.contrib'` when starting the heroku server. We use the most recent version of `master`.

Full log:
[code]

@OrkoHunter I hope that will help...

[2020-04-17 00:45] OrkoHunter commented on #165
Thanks @Eskapp ! This is a known issue with a dependency which is sadly breaking our master build :(
https://github.com/OrkoHunter/pep8speaks/issues/164

[2020-04-27 06:44] weekly-digest[bot] opened #166 "Weekly Digest (20 April, 2020 - 27 April, 2020)"
Here's the **Weekly Digest** for [*OrkoHunter/pep8speaks*](https://github.com/OrkoHunter/pep8speaks):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no star

[2020-04-27 06:53] #166 closed, assigned to nobody

[2020-04-28 13:21] OrkoHunter commented on #164
Sad that [flask-session](https://github.com/fengsp/flask-session/pull/114) is broken for so long. :(

[2020-04-28 13:55] #164 closed, assigned to nobody

[2020-05-06 21:11] #165 closed, assigned to nobody

[2020-05-06 21:17] Eskapp opened #168 "pep8speaks 1.7 does not comment in my PR"
I deployed a fork of pep8speaks with the most recent release 1.7 following the instructions given in https://github.com/OrkoHunter/pep8speaks/wiki/Instructions-to-deploy-a-fork. I added the webhook to my repository and I can see that the deliveries go through with status 200.

However, whatever amount of "PEP8 mistakes" I add to my files, the bot does not comment in my PR.
It used to do as shown i

[2020-05-06 23:23] OrkoHunter commented on #168
Hi @Eskapp, I deployed Version 1.7 on the main PEP8Speaks app as well, and it seems to be working (Most recent comment is an hour ago on https://github.com/tomography/tike/pull/59).

Can you check the logs where you have deployed the fork (Heroku, Server, etc.)? 200 means it should be working. Is this 200 for the first time adding the Webhook or for all deliveries?

Does the Webhook also show API

[2020-05-06 23:34] OrkoHunter opened #169 "Feature Request: Allow PEP8Speaks to be run as a CI job for private/forks"
PEP8Speaks needs to be hosted on a server to be run. A GitHub webhook sends payloads to the server via "GitHub app" and the server does all the magic. For users who want to run PEP8Speaks on a private repository, it is recommended to [deploy a fork](https://github.com/OrkoHunter/pep8speaks/wiki/Instructions-to-deploy-a-fork).

There can be an even easier distribution possible for PEP8Speaks. This

[2020-05-07 16:55] Eskapp commented on #168
Thank for your quick answer @OrkoHunter !
I can see the API response but the `results` parameter is always empty `{}`. I tried on several repositories.
The webhook has the Pull Request event and the GitHub Token has access to the repository.

Also, as you asked, I get status 200 for all the deliveries linked to the Pull Request event and 400 for deliveries linked to the Pull Request review event w

[2020-05-10 16:46] Haider8 opened #170 "How to stop pep8speaks from checking certain directories like for example alembic"

[2020-05-11 08:03] OrkoHunter commented on #170
Hi ! This can be done by having [.pep8speaks.yml](https://github.com/OrkoHunter/pep8speaks#configuration) in the root of the repository.

If you have set your linter to `pycodestyle`, use the `pycodestyle.exclude` section in the config file to set the directories/files you want to exclude. You can find more details on the [pycodestyle documentation](https://pycodestyle.pycqa.org/en/latest/intro.ht

[2020-05-11 08:03] #170 closed, assigned to nobody

[2020-05-13 14:20] Eskapp commented on #168
Re-did the procedure from scratch. It seems to work except I get about 50% of deliveries that time out.

[2020-05-18 11:19] walkingpendulum opened #171 "heroku-powered private pep8speaks fork timeout on big PRs"
We are hosting our pep8speaks fork on heroku to serve our private repos. For very big pull requests pep8speaks' webhook request regularly times out because of cumulative time to spin new heroku dyno, to fetch all changed files and to process them exceeds 10s timeout that GitHub sets for webhook requests.

There is an submitted issue https://github.community/t5/GitHub-API-Development-and/Extended-S

[2020-05-18 11:28] samuelcolvin commented on #171
I'm not familiar with this project, but can't you just proxy it through https://proxy.samuelcolvin.workers.dev/? see https://github.com/samuelcolvin/cloudflare-proxy for details or to create your own proxy.

[2020-05-19 12:15] kronicka commented on #169
Was just browsing to see if I could set up a GitHub Actions workflow for pep8speaks.
Would be awesome if pep8speaks could be run as a CI job. Really looking forward to this feature.

[2020-05-19 19:40] MikhailRyazanov opened #172 "Please use non-breaking space in "PEP 8""
I suggest to use a non-breaking space (U+00A0) in "PEP 8" in comments, since currently (with the regular space) they sometimes look like

which is confusing ("8 issues", OMG!).

[2020-05-20 17:05] Eskapp commented on #168
Now works as a charm, we had to regenerate some tokens.

[2020-05-20 17:05] #168 closed, assigned to nobody

[2020-05-21 21:31] Haider8 opened #173 "How to make it work with python3.8"
I am using `python3.8.2` and it is continuously giving me syntax errors. How can I make it work with `python3.8`? I am using `flake8`.

[2020-05-22 00:45] OrkoHunter commented on #173
Hey! I don't understand your question. PEP8Speaks (flake8 as linter) should work on any Python version.
PEP8Speaks does not have its own linter. Are there any unexpected errors which `flake8` does not raise locally for you?

[2020-05-22 07:23] Haider8 commented on #173
Thanks for your reply! It gives me syntax error when I use walrus operator.
Is there any way I can specify the the python version in pep8speaks config
file?

On Fri, May 22, 2020, 6:15 AM Himanshu Mishra <notifications@github.com>
wrote:

[2020-05-23 00:44] OrkoHunter commented on #173
Oh interesting! Looks like I will have to update the `flake8` and `pycodestyle` versions that I am using. May I ask you to create a PR? :)

[2020-05-28 02:26] MikhailRyazanov commented on #172
Here is an example (underlined in red):
![8issues](https://user-images.githubusercontent.com/12854133/83091362-40072e00-a058-11ea-815c-d46498603547.png)

[2020-05-28 13:55] OrkoHunter commented on #172
Fixed in #177

[2020-05-28 13:55] #172 closed, assigned to nobody

[2020-06-24 18:14] Haider8 commented on #173
@OrkoHunter Hey, this issue still persists for me. Please take a look at this [PR](https://github.com/oscarine/oscarine-api/pull/137).

[2020-06-25 07:13] OrkoHunter commented on #173
Huh, I see.

[2020-06-29 11:24] chkoar opened #178 "pep8speaks is not getting updated"
Hey,

Can you help us [here](https://github.com/scikit-learn-contrib/imbalanced-learn/pull/722)? Are we missing something?
We made several changes but pep8speaks does not seem to respond anymore.

[2020-06-29 11:56] OrkoHunter opened #179 "Handle payloads with large number of files changed"
Related issue: https://github.com/OrkoHunter/pep8speaks/issues/178

In PR where 100s of files are changed, there is a possibility the request will timeout. Since, the bot makes a comment, the GitHub Payload can be responded immediately. The lint job and commenting on PR can be done asynchronously.

[2020-06-29 11:57] OrkoHunter commented on #178
Hello!

Thank you for creating the issue. I manually resent a payload for this PR and the bot has updated its comment. I can see that the `.pep8speaks.yml` of the master branch is being used (88 chars max line length instead of 79).

<img width="934" alt="Screenshot 2020-06-29 at 8 52 04 PM" src="https://user-images.githubusercontent.com/8065913/86001794-64d13580-ba4a-11ea-8420-9a35e64116fb.png">

[2020-06-29 11:57] #178 closed, assigned to nobody

[2020-06-29 12:03] chkoar commented on #178
Great thanks.

[2020-06-29 18:51] grapheo12 commented on #179
Should this be tackled with a full fledged task queue? Or by just using an async function?
I can come up with a PR if you want.

[2020-06-30 02:46] OrkoHunter commented on #179
Hey Shubham! Thank you for the interest! Even if task queue seems like a good way to go, it might be overkill here. An async function should be sufficient for most of the cases. I can not think of a drawback.

[2020-07-08 05:00] OrkoHunter opened #180 "Update integration installation webhook event"
https://developer.github.com/changes/2020-04-15-replacing-the-installation-and-installation-repositories-events/

Replace `integration_installation` event with `installation` and `integration_installation_repositories` with `installation_repositories`.

[2020-07-13 15:25] Lewiscowles1986 opened #181 "Suggestion for escaped parenthesis"
Hi, Cool tool

I just unexpectedly got a visit from the pep8speaks fairy when PR'ing pandas.

I was changing some code that had no brackets and was matching an exception using a `pytest.raises` context block.

It's not a feature I use, as I think scanning exceptions for details can be problematic, but I wanted to keep test logic as it was in a style of that project.

In any case I did not realize

[2020-07-14 04:11] OrkoHunter commented on #181
Hi Lewis!

Thank you for creating the issue. The idea of suggesting changes based on the errors are worth exploring.

The suggestion seems like something a linter should do. PEP 8 Speaks is merely a wrapper over the linters `pycodestyle` and `flake8`. If these linters start giving suggestions like you wrote above, then PEP 8 Speaks should comment the same too.

I am not aware if these linters prin

[2020-07-14 08:41] #181 closed, assigned to nobody

[2020-07-14 08:42] Lewiscowles1986 commented on #181
I should have read the code to make sure the problem was here. I may look at the tools.

[2020-07-22 03:32] mikewhiteman opened #182 "Potentially unsafe subprocess execution (shell=True)"
Hello 👋 - Any particular reason that subprocess needs to be run with `Shell=True`?

An example:

https://github.com/OrkoHunter/pep8speaks/blob/837643bb95c18a5364cd0539b0f8edaeb3813a76/pep8speaks/helpers.py#L234

`Shell=True` is a more dangerous way of invoking subprocess that exposes you to potential command injection attacks. If you're not using any shell specific features (e.g. `|`), changing it

[2020-07-22 06:15] OrkoHunter commented on #182
Related https://github.com/OrkoHunter/pep8speaks/issues/28

[2020-08-06 06:35] alex2304 opened #183 "Deploying a fork doesn't work"
Hello!

Thanks for creating such a bot, it seems extremely useful for me.

I've precisely followed the [instruction](https://github.com/OrkoHunter/pep8speaks/wiki/Instructions-to-deploy-a-fork)  for deploying a fork and completed all the steps.

The problem is: when I create a pull-request in my repository, the bot doesn't write comment under my pull-request.

Steps I've already checked:
- service

[2020-08-06 09:04] OrkoHunter commented on #183
Hi @alex2304 !

Could you also see the logs on the Heroku? Try creating a new PR and see the logs. You should be able to find out a bunch of things including -
1. Whether any payload was received by Heroku
2. Any errors etc.

I believe no secrets are printed in the logs, so please double check and you can share them with me here.

[2020-08-07 07:42] alex2304 commented on #183
Hello, @OrkoHunter! I really appreciate your fast response.

I've just created a new pull-request and checked for the logs.

Here is what I've found:

1. Payload is received by the Heroku app
2. Then, heroku application makes several connections to various github endpoints.
3. Finally, the request to the app server is finished with status 200.

I expected that the pep8speaksbot will post a comment

[2020-08-21 13:03] alex2304 commented on #183
@OrkoHunter hello!

Is there any updates on what could went wrong?

[2020-08-21 21:47] OrkoHunter commented on #183
Hey! Sorry no, I wasn't able to figure out anything here. :(

[2020-08-23 04:01] FirePing32 commented on #183
@alex2304 Hope you have correctly configured web hooks. If it still doesn't work, try deploying it to a different platform like [Vercel](https://now.sh), Since I have also faced problems on Heroku where my Node app won't send requests back to GitHub a number of times.

[2020-08-23 05:58] FirePing32 commented on #64
https://github.com/OrkoHunter/pep8speaks/blob/837643bb95c18a5364cd0539b0f8edaeb3813a76/pep8speaks/handlers.py#L100-L103

It seems `fork_fullname` is not defined here. What do you think @OrkoHunter ?

[2020-08-23 06:44] FirePing32 commented on #64
https://github.com/OrkoHunter/pep8speaks/blob/837643bb95c18a5364cd0539b0f8edaeb3813a76/pep8speaks/helpers.py#L499-L533

Here, we define `ghrequest.fork_fullname` for the first time at line `504`, and that also inside the `fork_for_pr()` function. So, it is not globally accessible. Is that the correct reason for the error shown above @OrkoHunter ?

[2020-08-28 03:58] FirePing32 commented on #64
@OrkoHunter Any update on this ?

[2020-08-29 19:28] OrkoHunter commented on #64
Hey @prakhargurunani ! Thank you very much for looking into this problem. Unfortunately, I am a bit occupied and won't be able to work on it. But I also don't want to be a blocker, so go ahead and experiment as you like. :)

Might be a good idea to dump the object and see if the key is included there. You can start local pep8speaks server and send GitHub-like payloads manually to your local pep8sp

[2020-08-30 04:19] FirePing32 commented on #64
Yeah. I will try to figure it out.

[2020-09-29 14:25] desilinguist opened #184 "No messages appearing on PRs despite re-installation"
We are no longer receiving any comments on our PRs in our public [repository](https://github.com/EducationalTestingService/rsmtool). It used to work perfectly a few months ago when we did our last release. I uninstalled the app an reinstalled it via the marketplace but that didn't change anything. I checked our `.pep8speaks.yml` file and it's still there and correctly formatted. Any help figuring

[2020-09-29 19:06] OrkoHunter commented on #184
Hey @desilinguist, thank you for creating the issue and using pep8speaks. :)

The service seems to be up since the latest public comment was [few minutes ago](https://github.com/rrosajp/plugin.video.xstream/pull/38#issuecomment-700910665). :)

I doubt that GitHub is not sending payloads from the repository. Can you please check again how the app is installed? Have you installed it on a few repos,

[2020-09-29 19:13] desilinguist commented on #184
Hi @OrkoHunter ! Thank you so much for the prompt reply. It's much appreciated.

Originally, I had installed pep8speaks outside of the GitHub marketplace. However, this morning, since it wasn't working, I uninstalled it and reinstalled it from inside the marketplace. I installed it in the EducationalTestingService organization and gave it access to the couple of repos that we use it with. Below ar

[2020-09-30 06:55] OrkoHunter commented on #184
In my test PR [here](https://github.com/EducationalTestingService/rsmtool/pull/473), I manually mocked the payload which GitHub is supposed to send to PEP8Speaks server. That resulted in an expected comment.

So, the problem here is that GitHub is not sending payloads for the repository. I will look into it more.

[2020-09-30 11:34] desilinguist commented on #184
Thank you so much for looking into this!

________________________________
From: Himanshu Mishra <notifications@github.com>
Sent: Wednesday, September 30, 2020 2:55:59 AM
To: OrkoHunter/pep8speaks <pep8speaks@noreply.github.com>
Cc: Nitin Madnani <nmadnani@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [OrkoHunter/pep8speaks] No messages appearing on PRs despite re-installation (#18

[2021-01-23 09:45] dalmia commented on #184
Any updates on this? @OrkoHunter
We are also facing the same issue as you mentioned. Looking forward to your comment. Thank you for building `pep8speaks` :)

[2021-01-23 12:10] OrkoHunter commented on #184
Hello @dalmia ! Thank you :) I have been looking into this issue on and off again with no success.

Could you help out with some details?

- Which repositor(y/ies) did you install the GitHub app on?
- Have you not seen a pep8speaks comment on _any_ PRs?

Thanks!

[2021-01-23 12:36] dalmia commented on #184
Thanks for getting back so quickly, @OrkoHunter! :)

- Unfortunately, it is a private repository that we intend to open-source soon!
- No, we haven't seen any pep8speaks comment on any PR - we installed it 2 weeks ago!

Can you share a mock payload as you have used above to replicate and confirm that this is indeed the issue for us too? Also, any reason that this would work for one service (your f

[2021-01-24 16:42] OrkoHunter commented on #184
Hey @dalmia ! @pep8speaks by default does not work with private repos since the bot needs access to comment. This issue is about the bot not commenting on a public repo.

See this for more details https://github.com/orkohunter/pep8speaks#private-repos

https://gist.github.com/OrkoHunter/8bdbba46327df13ce3f89e6dcbdfa59c This is a mock payload I use to test against a local PEP8Speaks server.

[2021-01-26 12:00] dalmia commented on #184
Thanks for clarifying that and providing the link to the guidelines for a private repo, @OrkoHunter!

[2021-02-05 18:55] carterbox commented on #184
I stopped receiving comments on my public repo from pep8speaks [sometime in November of 2020](https://github.com/tomography/tike/pull/101). Are there any debugging/troubleshooting steps I can follow?

[2021-02-05 18:56] desilinguist commented on #184
This has still not worked for us and we have switched to using [pre-commit](https://pre-commit.com) hooks instead.

[2021-02-05 19:59] OrkoHunter commented on #184
@carterbox Thanks for the link to the issue, I can reproduce a payload from GitHub to see if something is wrong with the server or whether GitHub has stopped sending payloads in some settings.

Meanwhile, the pep8speaks is still actively commenting on a lot of the PRs out there. (last one being 2 hours ago) https://github.com/search?o=desc&q=commenter%3Apep8speaks&s=created&type=Issues

@desilingu

[2021-02-05 20:06] OrkoHunter commented on #184
@carterbox I simulated a GitHub payload for the PR https://github.com/tomography/tike/pull/101 and sent it to the server, and the bot updated the comment.

![Screenshot 2021-02-05 at 21 03 38](https://user-images.githubusercontent.com/8065913/107083268-ab172000-67f5-11eb-9479-1924a0064970.png)

I am not sure what's going on with automated payloads from GitHub. Let me create a test PR on your repos

[2021-02-05 20:14] OrkoHunter commented on #184
Huh, I created a new PR and the bot commented. https://github.com/tomography/tike/pull/120

@carterbox PEP8Speaks will not comment on a PR if there are no errors. You can change this behavior by setting `no_blank_comment: False` in `.pep8speaks.yml` https://github.com/orkohunter/pep8speaks#configuration

[2021-02-05 20:18] carterbox commented on #184
@OrkoHunter, I didn't expect that the default option was to be silent without errors! Thanks for your help debugging this for me! I guess pep8speaks has trained my contributors to lint their own code!

[2021-02-05 20:21] OrkoHunter commented on #184
Closing this issue since the original author has moved away. To new users: feel free to open a new issue with details, and I'll help out!

[2021-02-05 20:21] #184 closed, assigned to nobody

[2021-07-15 14:06] vhirtham commented on #173
@OrkoHunter Hi, I get the already mentioned problem with the walrus operator in [this PR](https://github.com/BAMWelDX/weldx/pull/429)

EDIT: I exchanged the affected lines in the PR because they got obsolete, but you can still see it in the edit history of the pep8speaks comment if that helps

[2021-07-15 15:43] OrkoHunter commented on #173
@vhirtham I wonder if you use `pycodestyle` instead of `flake8` as your linter, the issue goes away? We might need to update some versions of the linters, so that newer versions of Python are supported well.

[2021-10-09 19:09] sarnold commented on #182
I think the answer is basically split the cmd string: https://github.com/OrkoHunter/pep8speaks/blob/30af5bf0de1a2bfdf35b0a76bf63c70486c12c69/pep8speaks/helpers.py#L231 and pass cmd as a list to `Popen` , then you can set `shell=False` and you're done.  Lastly (and I just learned this recently) running `bandit` on the source code will find this kind of thing.

[2022-02-04 19:14] eggplants commented on #95
Now, pep8speaks seem to ignore flake8 configurations in `setup.cfg`.

[2022-02-16 08:22] matteobachetti commented on #173
Same problem here: https://github.com/StingraySoftware/stingray/pull/630

[2022-02-18 21:09] wmarquardt opened #186 "Ignore path"
Add "ignore path" in scanner config, that accepts multiple paths.

This option is useful to some auto-generated files, like Django migrations.

If you agree with this new feature, let me do it.

[2022-03-16 17:32] MikhailRyazanov opened #187 "pep8speaks.com doesn't exist"
The “homepage” **pep8speaks.com** (linked from "About" in this repository) doesn't exist any more, please update the link.

[2022-09-24 17:00] OrkoHunter commented on #187
Hi @MikhailRyazanov ! I didn't notice this had expired for so long. I just purchased a new pep8speaks.org and that should be live soon.

Thank you for creating the issue :)

[2022-09-24 17:00] #187 closed, assigned to nobody

[2022-10-04 10:12] ikerexxe opened #189 "Has PEP8 Speaks stopped working or am I doing something wrong?"
I'm testing this app to know if I can integrate it in a big project, but so far PEP8 Speaks doesn't provide any feedback in my PRs. These are the steps that I'm following.

I installed the app for my repository (flake8-action-test).
![Screenshot from 2022-10-04 12-01-40](https://user-images.githubusercontent.com/2324748/193792257-0ee4bc44-5bbd-4c34-8db5-8b4ea809176f.png)

Moreover, I configured th

[2022-10-04 14:36] OrkoHunter commented on #189
Hi @ikerexxe ! It has indeed stopped working. It was hosted on Heroku, but then [Heroku decided not to accept Indian cards](https://devcenter.heroku.com/changelog-items/2305) and so my account has been closed now.

I'm looking for an alternative deployment solution, maybe proper AWS. Please allow me some time to do it. :)

[2022-10-04 14:54] ikerexxe commented on #189
Thanks for reaching out so fast. Please take your time to find a good alternative.